<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="MonitoredCountersList" type="SandboxDatabaseManagerService.Configuration.MonitoredCountersSection, SandboxDatabaseManagerService" />
    <section name="MonitoredFSRMQuotaList" type="SandboxDatabaseManagerService.Configuration.MonitoredFSRMQuotasSection, SandboxDatabaseManagerService" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <MonitoredCountersList>
    <!--<Counter CategoryName="Memory" CounterName="Available MBytes" InstanceName="" FriendlyName="Available RAM" DotNetFormatString="{0:F0} MB" ChartYAxisSufix=" MB" DivideRawCounterValueBy="" LowWarningValue="" HighWarningValue="12" />
    <Counter CategoryName="Processor" CounterName="% Processor Time" InstanceName="_Total" FriendlyName="CPU Usage" DotNetFormatString="{0:F0} %" ChartYAxisSufix=" %" DivideRawCounterValueBy="" LowWarningValue="" HighWarningValue="" />
    <Counter CategoryName="PhysicalDisk" CounterName="Disk Bytes/sec" InstanceName="_Total" FriendlyName="Disk Transfer" DotNetFormatString="{0:F2} MB/s" ChartYAxisSufix=" MB/s" DivideRawCounterValueBy="1048576" LowWarningValue="" HighWarningValue="" />
    <Counter CategoryName="PhysicalDisk" CounterName="% Disk Time" InstanceName="_Total" FriendlyName="Disk Usage" DotNetFormatString="{0:F0} %" ChartYAxisSufix=" %" DivideRawCounterValueBy="1024" LowWarningValue="" HighWarningValue="" />
    <Counter CategoryName="LogicalDisk" CounterName="Free MegaBytes" InstanceName="D:" FriendlyName="Disk D Free Space" DotNetFormatString="{0:F2} GB" ChartYAxisSufix=" GB" DivideRawCounterValueBy="1024" LowWarningValue="" HighWarningValue="" />
    <Counter CategoryName="SQLServer:Buffer Manager" CounterName="Buffer cache hit ratio" InstanceName="" FriendlyName="Buff Cache Hit Ratio" DotNetFormatString="" ChartYAxisSufix="" DivideRawCounterValueBy="" LowWarningValue="" HighWarningValue="" />-->
  </MonitoredCountersList>
  <MonitoredFSRMQuotaList>
    <!--<MonitoredFSRMQuota FSRMQuotaFolder="C:\SandboxDatabases" FriendlyName="Sandbox Free" DotNetFormatString="{0:F2} GB" ChartYAxisSufix=" GB" DivideRawValueBy="1073741824" LowWarningValue="" HighWarningValue="" />-->
  </MonitoredFSRMQuotaList>
  <log4net debug="false">
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="SandboxDatabaseManagerService.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1024KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%date{dd-MM-yyyy HH:mm:ss,fff} [%5level] - %message %n" />
      </layout>
    </appender>
    <root>
      <priority value="INFO" />
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <!--net.tcp://localhost:{0}/SandboxDatabaseManagerService-->
    <add key="TCP_Port_Num" value="9087"/>
  </appSettings>
</configuration>
