
@model System.String

@{
    ViewBag.Title = "About";
}

<table>
    <tr>
        <td style="padding-right:5px;">
            <img src="~/Images/about.svg" style="width:48px; height:48px;" />
        </td>
        <td style="padding-left:5px;">
            <h4>About</h4>
            <h5>Details about Sandbox Database Manager.</h5>
        </td>

    </tr>
</table>

<table width="100%">
    <tr>
        <td style="height:600px; text-align:left; vertical-align:top;">
            <strong>Sandbox Database Manager</strong> has been created out of passion by <strong><a style="color: #2a5e9d;" href="https://www.linkedin.com/in/tomasz-moska-32a4b15">Tomasz Moska</a></strong></span>.<br>
            Latest version can be found at <strong><a style="color: #2a5e9d;" href="https://github.com/TomaszM81/SandboxDatabaseManager" title="Sandbox Database Manager on GitHub">Sandbox Database Manager on GitHub</a></strong>.<br/>
</td>
    </tr>
    
    <tr style="border-bottom:1px solid #cccccc;"><td colspan="100" style="height:6px"></td></tr>
    <tr><td colspan="100" style="height:7px"></td></tr>
    <tr>
        <td><div style="font-size:10px;">Icons made by <a style="color: #2a5e9d;" href="http://www.freepik.com" title="Freepik">Freepik</a> from <a style="color: #2a5e9d;" href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed under <a style="color: #2a5e9d;" href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div></td>
    </tr>
</table>



