<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_ISandboxDatabaseManagerService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:9087/SandboxDatabaseManagerService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISandboxDatabaseManagerService"
                contract="SandboxDatabaseManagerService.ISandboxDatabaseManagerService"
                name="NetTcpBinding_ISandboxDatabaseManagerService">
                <identity>
                    <servicePrincipalName value="host/Tomek-PC" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>