<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="MonitoredServersList" type="SandboxDatabaseManager.Configuration.MonitoredServers, SandboxDatabaseManager" />
    <section name="DatabaseServersList" type="SandboxDatabaseManager.Configuration.DatabaseServers, SandboxDatabaseManager" />
    <section name="DatabaseBackupFileLocationsList" type="SandboxDatabaseManager.Configuration.DatabaseBackupFileLocations, SandboxDatabaseManager" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  
  
  
  <!--This is a list of monitored servers where the helper service is installed, it provides values to the statistics pane on the left.-->
  <MonitoredServersList>
    <Server FriendlyName="DBSRV01" RemoteAddress="net.tcp://localhost:9087/SandboxDatabaseManagerService" />
    <!--<Server FriendlyName="PRODSRVDB01" RemoteAddress="net.tcp://PRODSRVDB01:9087/SandboxDatabaseManagerService"/>
    <Server FriendlyName="PRODSRVDB02" RemoteAddress="net.tcp://PRODSRVDB02:9087/SandboxDatabaseManagerService"/>-->
  </MonitoredServersList>
  
  
  
  
  <!-- CopyDatabaseNetworkSharePath is only used by database copy functionality, after a database has been copied the backup file is automatically removed from that location-->
  <!-- UseForBackupFileScan is an indicator that a machine can be used to scan the content of backup files, this setting is required as some of the servers will be of lower version than others 
       making then unable to scan SQL Server backup files from higher versions. During the backup file scan process all servers with UseForBackupFileScan = true are treated as available thread 
       pool and fully utilized in hope of speeding up the scan process
  -->
  <!--SQL Server service account must be able to write/read to and from those locations-->
  <!-- IsPrimary indicated a server that determines the access to the tool itself (dbo.Users.PrimaryOnlyHasSandboxDatabaseManagerAccessPermission) and other permissions with PrimaryOnly prefix in their column names-->
  <DatabaseServersList>
    <Server Name="DBSRV01" ConnectionString="Data Source=TOMEK-PC;Initial Catalog=SandboxDatabaseManagerDB;User ID=sbLogin;Password=sbLogin" IsPrimary="true" MonitoredServerFriendlyNameForFreeSpace="DBSRV01" MonitoredServerCounterFriendlyNameForFreeSpace="Disk D Free Space" CopyDatabaseNetworkSharePath="\\192.168.0.9\TargetFolder" BackupDatabaseNetworkSharePath="\\192.168.0.9\TargetBackupFolder" UseForBackupFileScan="true" />
    <!--<Server Name="DBSRV_INT01" ConnectionString="Data Source=TOMEK-PC\TERTIARY;Initial Catalog=SandboxDatabaseManagerDB;User ID=sbLogin;Password=sbLogin" IsPrimary="false" MonitoredServerFriendlyNameForFreeSpace="DBSRV01" MonitoredServerCounterFriendlyNameForFreeSpace="Disk D Free Space" CopyDatabaseNetworkSharePath="\\192.168.0.9\TargetFolder" BackupDatabaseNetworkSharePath="\\192.168.0.9\TargetBackupFolder_Another" UseForBackupFileScan="false" />
    <Server Name="PRODSRVDB01" ConnectionString="Data Source=PRODSRVDB01;Initial Catalog=SandboxDatabaseManagerDB;User ID=sbLogin;Password=sbLogin" IsPrimary="false" MonitoredServerFriendlyNameForFreeSpace="PRODSRVDB01" MonitoredServerCounterFriendlyNameForFreeSpace="Disk C Free Space" CopyDatabaseNetworkSharePath="\\PRODSRVDB01\TargetFolder" BackupDatabaseNetworkSharePath="\\PRODSRVDB01\TargetBackupFolder" UseForBackupFileScan="false"/>
    <Server Name="PRODSRVDB02" ConnectionString="Data Source=PRODSRVDB02;Initial Catalog=SandboxDatabaseManagerDB;User ID=sbLogin;Password=sbLogin" IsPrimary="false" MonitoredServerFriendlyNameForFreeSpace="PRODSRVDB02" MonitoredServerCounterFriendlyNameForFreeSpace="Disk C Free Space" CopyDatabaseNetworkSharePath="\\PRODSRVDB02\TargetFolder" BackupDatabaseNetworkSharePath="\\PRODSRVDB02\TargetBackupFolder" UseForBackupFileScan="false"/>-->
  </DatabaseServersList>
  
  
  
  <!--Please do not duplicate paths from the DatabaseServersList(BackupDatabaseNetworkSharePath), any item from DatabaseServersList(BackupDatabaseNetworkSharePath) will be investigated for backup files as well-->
  <!--SQL Server service account must be able to read from those locations-->
  <DatabaseBackupFileLocationsList>
    <!--<FileLocation Name="Custom Location 2" Path="\\TOMEK-PC\TargetBackupFolder_Override"/>
    <FileLocation Name="TargetBackupFolder_CustomLocation" Path="\\TOMEK-PC\TargetBackupFolder_CustomLocation"/>-->
  </DatabaseBackupFileLocationsList>
  
  
  
  
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <staticContent>
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff" />
    </staticContent>
  </system.webServer>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.5.2" debug="true" />
    <customErrors mode="On" defaultRedirect="~/Views/Shared/Error.cshtml" />
    <httpRuntime targetFramework="4.5.1" />
    <authentication mode="Windows" />
    <authorization>
      <deny users="?" />
    </authorization>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_ISandboxDatabaseManagerService">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <!-- address from this binding is not used, please specify any servers to monitor in MonitoredServersList section-->
    <client>
      <endpoint address="net.tcp://localhost:9087/SandboxDatabaseManagerService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISandboxDatabaseManagerService" contract="SandboxDatabaseManagerService.ISandboxDatabaseManagerService" name="NetTcpBinding_ISandboxDatabaseManagerService" />
    </client>
  </system.serviceModel>
  <log4net debug="false">
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="SandboxDatabaseManagerLog_Log.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1024KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%date{dd-MM-yyyy HH:mm:ss,fff} [%5level] [%logger] - %message %n" />
      </layout>
    </appender>
    <root>
      <priority value="INFO" />
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>
</configuration>
<!--

cd %windir%\Microsoft.NET\Framework\v4.0.30319
aspnet_regiis.exe –i


-->